#card8{
    width: 400px;
    height: 390px;
    
    margin-left: 590px;
    margin-top: 140px;
}
h5{
    margin-top: 10px;
    text-align: center;
    color: green;
}
span{
    color:black ;
}
#nam input[type="name"]{
    width: 300px;
    margin-left: 40px;
    
}
#emai input[type="email"]{
    width: 300px;
    margin-left: 40px;
}
#pass input[type="password"]{
    width: 300px;
    margin-left: 40px;
}
label{
    margin-left: 40px;
}
#but{
    margin-left: 130px;
}
#but input[type="button"]{
    width: 100px;
    height: 30px;
    background:red;
    color:white;
    border: 0px;
    
}