<body>
<h1> ABOUT</h1>

<p>
    
    A company limited by guarantee (CLG): Commonly used where companies are formed for non-commercial purposes, such as clubs or charities. 
    The members guarantee the payment of certain (usually nominal) amounts if the company goes into insolvent liquidation, but otherwise, 
      
    they have no economic rights in relation to the company. 
    This type of company is common in England. 
    A company limited by guarantee may be with or without having share capital.
    
    
    </p>
</body>