#nav{
    height: 70px;
    background:white;
}
a{
    color: black;
    margin-left: 20px;
    margin-top: 7px;
}
h3{
    margin-top: 7px;
color: black;
}
button{
    background: white;
    margin-right: 30px;
}
a:hover{
    color: red;
}